@font-face {
    font-family: "OpenSans";
    src: url(./fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: "OpenSans Bold" ;
    src: url(./fonts/OpenSans-Bold.ttf);
}

body {
    margin: 0;
    padding: 0;
    font-family: "OpenSans";
}

.container {
    margin: 0 auto;
    width: 1320px;
}

p {
    margin: 0px;
    padding: 0px;
}



/* header */
header {
    height: 176px;
}

.header__container {
    height: 176px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
    width: 167px;
    height: 64px;
}

.header__menu {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 289px;
}

.header__menu_icon {
    margin-top: 6px;
}

.header__phone {
    display: flex;
}

.header__phone_icon {
    margin-right: 20px;
}

.header__phone-number {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    text-transform: uppercase;
    color: #000000;
    margin-right: 48px;
}



/* banner */

.banner__image {
    max-width: 1920px;
    position: relative;
    display: flex;
    margin-bottom: 84px;
    justify-content: center;
}

.banner__image_img {
    max-width: 1920px;
}

.banner__text {
    width: 1320px;
    top: 160px;
    left: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
}

.banner__title {
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 108px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.banner__subtitle {
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 91px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}





/* priority */
.priority {
}
.priority__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.priority__title {
    font-family: "OpenSans Bold";
    font-style: normal;
    font-weight: 700;
    font-size: 55.1654px;
    line-height: 75px;
    color: #2C2C2C;
    margin-bottom: 12px;
}
.priority__subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 17.675px;
    line-height: 24px;
    color: #979797;
    margin-bottom: 84px;
}
.priority__cards {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 133px;
}
.priority__cards_row {
    display: flex;
    justify-content: space-around;
    margin-bottom: 60px;

}
.priority__card {
    display: flex;
    align-items: flex-start;
    width: 359px;
    height: 109px;
}
.priority__card_icon {
    width: 13px;
    height: 41px;
    margin-right: 10px;
}
.priority__card_text {
    display: flex;
    flex-direction: column;
}
.priority__card_title {
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 23px;
    letter-spacing: 0.03em;
    color: #2C2C2C;
    margin-bottom: 25px;
}
.priority__card_subtitle {
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #979797;
}



/* course */
.course {
    background-color: #708C08;
    height: auto;
}

.course__container {
    display: flex;
    flex-direction: column;

    align-items: center;
    height: 1071px;
}
.course__title {
    font-style: normal;
    font-weight: 700;
    font-size: 55.1654px;
    line-height: 75px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    margin-top: 52px;
    margin-bottom: 12px;
}
.course__subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 17.675px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 84px;
}

.course__cards_row1 {
    display: flex;
    justify-content: space-between;
    width: 1320px;
    margin-bottom: 45px;
}

.course__cards_row2 {
    display: flex;
    justify-content: space-evenly;
    width: 969px;
}

.course__card {
    display: flex;
    flex-direction: column;
    width: 384px;
    height: 324px;
    background-color: #fff;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 20px;
}

.course__card2 {
    display: flex;
    flex-direction: column;
    width: 461.92px;
    height: 324.88px;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 20px;
}

.course__cards_icon {
    width: 93px;
    height: 99px;
}
.course__card_content {
    display: flex;
    width: 318px;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 48px;
}
.course__card_text {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-items: center;
    width: 237px;
    margin-left: 15px;
}
.course__card_title {
    font-family: "OpenSans Bold";
    font-style: normal;
    font-weight: 700;
    font-size: 62.2516px;
    line-height: 60px;
    text-align: center;
    color: #0C1608;
    width: 241px;
}
.course__card_subtitle {
    font-style: normal;
    font-weight: 600;
    font-size: 41.5756px;
    line-height: 57px;
    text-align: center;
    color: #0C1608;
}
.course__button {
    width: 318.17px;
    height: 92.96px;
    background: #243906;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 41px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.course__button2 {
    width: 368px;
    height: 93px;
    background: #243906;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 41px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}



/* feedback */
.feedback {
}

.feedback__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feedback__text {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.feedback__title {
    font-style: normal;
    font-weight: 700;
    font-size: 55.1654px;
    line-height: 75px;
    color: #2C2C2C;
    margin-top: 85px;
    margin-bottom: 25px;
}
.feedback__title_description {
    font-style: normal;
    font-weight: 400;
    font-size: 17.675px;
    line-height: 24px;
    text-align: center;
    color: #979797;
    width: 872px;
    margin-bottom: 25px;
}
.feedback__contacts {
    font-style: normal;
    font-weight: 600;
    font-size: 17.675px;
    line-height: 24px;
    text-align: center;
    color: #2C2C2C;
    margin-bottom: 25px;
}
.feedback__text_button {
    width: 286px;
    height: 49px;
    background: #2CA621;
    border: none;
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 85px;
}
.feedback__subtitle {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    color: #2C2C2C;
    margin-bottom: 25px;
}
.feedback__subtitle_description {
    font-style: normal;
    font-weight: 400;
    font-size: 17.675px;
    line-height: 24px;
    text-align: center;
    color: #979797;
    width: 706px;
    margin-bottom: 36px;
}

.feedback__input {
    width: 346px;
    height: 63px;
    left: 596px;
    top: 4107px;
    background: #F7F7F7;
    border-radius: 6px;
    border: none;
}

::placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #7C7C7C;
    left: 12px;
}

.feedback__form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.feedback__form_up {
    display: flex;
    width: 712px;
    justify-content: space-between;
    margin-bottom: 20px;
}
.feedback__form_left {
    height: 146px;
    width: 346px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.feedback__form_right {
    height: 146px;
    width: 346px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.feedback__input-center {
    width: 714px;
    height: 164px;
    background: #F7F7F7;
    border-radius: 6px;
    border: none;
    margin-bottom: 6px;
}
.feedback__form_description {
    display: flex;
    width: 723px;
    margin-bottom: 38px;
}
.feedback__form_description_text {
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    color: #979797;
}

.feedback__checkbox { 
    width: 9px;
    height: 9px;
    background: #243906;
    border-radius: 1px;
}

.feedback__button_container {
    width: 713px;
    display: flex;

}

.feedback__form_button {
    width: 267px;
    height: 66px;
    background: #243906;
    border-radius: 6px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    border: none;
    margin-bottom: 120px;
}


.placeholder-box {
	display: block;	
	position: relative;
}

.placeholder-box input {
	display: block;
	width: 346px;
    height: 63px;
    background: #F7F7F7;
    border-radius: 6px;
    border: none;
}
.placeholder-text {    
	display: none;
	width: 100%; 
	line-height: 37px;
	position: absolute;
	left: 12px;
	top: 15px;
	bottom: 0;
	color: #888;
	cursor: text;
	user-select: none;
}
 
.placeholder-box input:invalid + .placeholder-text {
	display: block;
}



/* footer */
footer {
    background-color: #333333;
}

.footer__container {
    display: flex;
    justify-content: space-between;
}

.footer__info {
    display: flex;
    flex-direction: column;
    height: 150px;
    justify-content: space-around;
    margin-top: 54px;
    margin-bottom: 75px;
}
.footer__info_text {
    font-style: normal;
    font-weight: 400;
    font-size: 17.7347px;
    line-height: 24px;
    color: #999496;
}
.footer__social {
    margin-top: 52px;
}
.footer__social_icon-vk {
}
.footer__social_icon-telegram {
    margin-left: 13px;
}

