@font-face {
    font-family: "OpenSans";
    src: url(./fonts/OpenSans-Regular.ttf);
}
body {
    margin: 0;
    padding: 0;
    font-family: "OpenSans";
}
.container {
    margin: 0 auto;
    width: 1320px;
}

p {
    margin: 0px;
    padding: 0px;
}



/* header */
header {
    height: 176px;
}

.header__container {
    height: 176px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
}
.header__menu {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.header__menu_icon {

}

.header__phone {
    display: flex;
}
.header__phone-number {
}



/* banner */

.banner__image {
    max-width: 1320px;
    position: relative;
}

.banner__image_img {
    max-width: 1320px;
}

.banner__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
}

.banner__title {

    margin: 0 auto;
    font-style: normal;
    text-transform: uppercase;
    color: #FFFFFF;
}

.banner__subtitle {
    font-style: normal;
    color: #FFFFFF;
}





/* priority */
.priority {
}
.priority__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.priority__title {
    font-style: normal;
    font-weight: 700;
    font-size: 55.1654px;
    line-height: 75px;
    color: #2C2C2C;
}
.priority__subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 17.675px;
    line-height: 24px;
    color: #979797;
}
.priority__cards {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.priority__cards_row {
    display: flex;
    justify-content: space-around;
}
.priority__card {
    display: flex;
    align-items: flex-start;
}
.priority__card_icon {
    width: 13px;
    height: 41px;
}
.priority__card_text {
    display: flex;
    flex-direction: column;
}
.priority__card_title {
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 23px;
    letter-spacing: 0.03em;
    color: #2C2C2C;
}
.priority__card_subtitle {
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #979797;
}



/* course */
.course {
    background-color: #708C08;
    height: auto;
}

.course__container {
    display: flex;
    flex-direction: column;

    align-items: center;
    height: 1071px;
}
.course__title {
    font-style: normal;
    font-weight: 700;
    font-size: 55.1654px;
    line-height: 75px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.course__subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 17.675px;
    line-height: 24px;
    color: #FFFFFF;
}

.course__cards_row1 {
    display: flex;
    justify-content: space-between;
    width: 1320px;
}

.course__cards_row2 {
    display: flex;
    justify-content: space-evenly;
    width: 1320px;
}

.course__card {
    display: flex;
    flex-direction: column;
    width: 384px;
    height: 324px;
    background-color: #fff;
    justify-content: center;
    align-items: center;
}

.course__cards_icon {
    width: 93px;
    height: 99px;
}
.course__card_content {
    display: flex;
}
.course__card_text {
    display: flex;
    flex-direction: column;
}
.course__card_title {
    font-style: normal;
    font-weight: 700;
    font-size: 62.2516px;
    line-height: 85px;
    text-align: center;
    color: #0C1608;
    
}
.course__card_subtitle {
    font-style: normal;
    font-weight: 600;
    font-size: 41.5756px;
    line-height: 57px;
    text-align: center;
    color: #0C1608;
}
.course__button {
    width: 318.17px;
    height: 92.96px;
    background: #243906;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 41px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}



/* feedback */
.feedback {
}

.feedback__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feedback__text {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.feedback__title {
    font-style: normal;
    font-weight: 700;
    font-size: 55.1654px;
    line-height: 75px;
    color: #2C2C2C;
}
.feedback__title_description {
    font-style: normal;
    font-weight: 400;
    font-size: 17.675px;
    line-height: 24px;
    text-align: center;
    color: #979797;
    width: 872px;
}
.feedback__contacts {
    font-style: normal;
    font-weight: 600;
    font-size: 17.675px;
    line-height: 24px;
    text-align: center;
    color: #2C2C2C;
}
.feedback__text_button {
    width: 286px;
    height: 49px;
    background: #2CA621;
    border: none;
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
}
.feedback__subtitle {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    color: #2C2C2C;
}
.feedback__subtitle_description {
    font-style: normal;
    font-weight: 400;
    font-size: 17.675px;
    line-height: 24px;
    text-align: center;
    color: #979797;
    width: 706px;
}
.feedback__form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.feedback__form_up {
}
.feedback__form_left {
}
.feedback__form_right {
}
.feedback__form_center {
}
.feedback__form_description {
}
.feedback__form_description_text {
}
.feedback__form_button {
}



/* footer */
.footer__info {
}
.footer__info_text {
}
.footer__social {
}
.footer__social_icon-vk {
}
.footer__social_icon-telegram {
}

